<title>History</title>
<h1>歷史紀錄</h1>

{% if all_history %}
  <table>
    <thead>
    <th>借出時間</th>
    <th>書目編碼</th>
    <th>書名</th>
    <th>出版社</th>
    <th>狀態</th>
    <th>成員編碼</th>
    <th>成員身份</th>
    <th>成員班級</th>
    <th>成員姓名</th>
    </thead>
    <tbody>
      <meta charset="UTF-8">
      {% for i in all_history %}
        <tr>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[4] }}</td>
            <td>{{ i[5] }}</td>
            <td>{{ i[6] }}</td>
            <td>{{ i[7] }}</td>
            <td>{{ i[8] }}</td>
            <td>{{ i[9] }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
{% endif %}
<button onclick="location.href='{{ url_for('login_successed',account=account, password=password) }}'" >回到{{ back_home }}首頁</button>


<body>
	<hr>
	<div><a href="{{ url_for('library') }}">首頁</a></div>
</body>

