<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/wordcloud.js"></script>
</head>

<body>
  {{myechart|safe}}
</body>

</html>


$.get('/histogram2').done(function (data) {
        myChart.hideLoading(); // 隐藏加载动画

        // 填入数据
        myChart.setOption({
            xAxis: {
                data: data.month
            },
            series: [{
                name: '蒸发量', // 根据名字对应到相应的系列
                data: data.evaporation.map(parseFloat) // 转化为数字（注意map）
            },{
                name: '降水量',
                data: data.precipitation.map(parseFloat)
            }]
        });
    });