<html>
    <head>
      <title>Home</title>
      <style>
        h1 {font-family:"Microsoft JhengHei";font-size:120px;text-align:center;}
        p.normal{font-family:"Microsoft JhengHei";font-size:60px;text-align:center;}
        a:hover {color:#FF00FF;}
        a:active {color:#0000FF;}
        body{
            background-color:#FFC0CB;
        }
      </style>
    </head>
    <body>
        <h1>圖書館系統</h1>
        <div><a href="{{ url_for('search') }}"><p class="normal">書目搜尋</p></a></div>
        <div><a href="{{ url_for('login') }}"><p class="normal">登入</p></a></div>
        <hr>
    </body>
</html>